body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.chat-container {
    display: flex;
    height: 100%;
}

.user-list {
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.chat-window {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #e5e5e5;
}

#messageForm {
    display: flex;
    padding: 20px;
    background-color: #f2f2f2;
}

#messageInput {
    flex-grow: 1;
    margin-right: 10px;
}

#messageForm button {
    padding: 10px;
    cursor: pointer;
}

#loginForm {
    margin-bottom: 1em;
    text-align: center;
}

#usernameInput {
    margin-right: 0.5em;
    padding: 0.5em;
}

#chat {
    display: none; /* hide until a username is entered */
}

/* message list styling */
#messages li {
    padding: 5px 10px;
    margin-bottom: 0.2em;
    border-radius: 5px;
    background: #f9f9f9;
}

/* style different message types */
.msg-from-me {
    background: #dcf8c6;
}

.msg-from-others {
    background: #fff;
}
